<%- model_class = Quusome -%>

<div>
    <div class="span3 "><%= image_tag "m.jpg", :class => "img-rounded" %></div>
    <div class="span3 "><%= image_tag "s.jpg", :class => "img-rounded" %></div>
    <div class="span3 "><%= image_tag "c.jpg", :class => "img-rounded" %></div>
    <div class="span3 "><%= image_tag "s.jpg", :class => "img-rounded" %></div>
    <div class="span3 "><%= image_tag "p.jpg", :class => "img-rounded" %></div>


</div>





