<%- model_class = Post -%>
<div >
  <div class="span1"></div>
  <div class="span2"><%= image_tag "m.jpg" %></div>
  <div class="span2 "><%= image_tag "s.jpg" %></div>
  <div class="span2 "><%= image_tag "c.jpg" %></div>
  <div class="span2 "><%= image_tag "e.jpg" %></div>
  <div class="span2 "><%= image_tag "p.jpg" %></div>
  <div class="span1 "></div>

</div>